PROXY_PORT=8000

AZURE_OPENAI_ENDPOINT=https://jiahz-me6noe4u-swedencentral.cognitiveservices.azure.com/
AZURE_OPENAI_API_VERSION=2025-04-01-preview

MODEL_MAP={"claude-opus-4-5-20250929":"gpt-5-mini","claude-sonnet-4-5-20250929":"gpt-5-mini"}
